<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.healthcompanion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCompanion">

        <activity android:name=".HelpActivity" />

        <activity
            android:name=".NoNetworkActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity
            android:name=".Profile"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity android:name=".FoodDetailsActivity" /> <!-- <activity android:name=".ProfileImage" /> -->

        <activity
            android:name=".DietPlansClasses.DietPlannerActivity"
            tools:ignore="ExtraText">
            android:label = "DietPlanner"
            android:parentActivityName = "DietPlans"
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.healthcompanion.DietPlansClasses.DietPlans" />

        </activity>

        <activity android:name=".DietPlansClasses.DisplayDietPlan">
            android:label = "DisplayDietPlans"
            android:parentActivityName = "DietPlans"
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.healthcompanion.DietPlansClasses.DietPlans" />
        </activity>

        <activity android:name=".DietPlansClasses.DietPlans" />

        <activity
            android:name=".SearchFoodActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".DashboardActivity" />

        <activity android:name=".ImgPickerActivity" />

        <activity android:name=".LogInAndSignUp.GetUserInfoActivity">

        </activity>

        <activity android:name=".Records" />

        <activity
            android:name=".LogInAndSignUp.LoginNSignUpActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <activity android:name=".HomePage" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".ReminderClasses.Reminder_main" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".ReminderClasses.NotifierAlarm" />
    </application>

</manifest>